{% extends 'base.html' %}

{% block content %}
  <div class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
      <div class="mb-4 text-center">
        <h1 class="text-3xl font-bold">Logout</h1>
      </div>
      <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Logout
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{% url 'blog:post_list' %}">
            Go to Home
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}